.sidebar {
  width: 250px; 
  background-color: #26394b;
  color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  min-height: 100
}
.sidebar h2 {
  margin-bottom: 1rem;
}
.sidebar button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  padding: 0.5rem 0;
  font-size: 1rem;
  cursor: pointer;
}
.sidebar button:hover {
  text-decoration: underline;
}